@layer base {
  /* =====================
     Light Theme
  ====================== */
  [data-theme="cyberNeon"] {
    color-scheme: light;

    /* Base colors */
    --white: #ffffff;
    --black: #000000;

    --background: #ffffff;
    --foreground: #000000;

    --surface: #ffffff;
    --surface-foreground: var(--foreground);
    --overlay: #000000;
    --overlay-foreground: var(--foreground);

    /* Primary: ciano neon */
    --accent: #00cfd1;
    --accent-foreground: #000000;

    /* Secondary: roxo */
    --secondary: #7828c8;
    --secondary-foreground: #ffffff;

    /* Status colors */
    --success: #17c964;
    --success-foreground: #000000;
    --warning: #f5a524;
    --warning-foreground: #000000;
    --danger: #f31260;
    --danger-foreground: #000000;

    /* Form fields */
    --field-background: #ffffff;
    --field-foreground: #000000;
    --field-placeholder: #d4d4d8;
    --field-border: #afafb2;

    /* Misc */
    --focus: #006FEE;
    --divider: #111111;
    --overlay-shadow: 0 4px 16px rgba(0,0,0,0.08);
    --surface-shadow: 0 2px 4px rgba(0,0,0,0.04);
    --radius: 0.75rem;
  }

  /* =====================
     Dark Theme
  ====================== */
  [data-theme="cyberNeon-dark"] {
    color-scheme: dark;

    /* Base colors */
    --background: #000000;
    --foreground: #ffffff;

    --surface: #18181b;
    --surface-foreground: var(--foreground);
    --overlay: #ffffff;
    --overlay-foreground: var(--foreground);

    /* Primary: ciano neon */
    --accent: #00cfd1;
    --accent-foreground: #000000;

    /* Secondary: roxo */
    --secondary: #7828c8;
    --secondary-foreground: #ffffff;

    /* Status colors */
    --success: #17c964;
    --success-foreground: #000000;
    --warning: #f5a524;
    --warning-foreground: #000000;
    --danger: #f31260;
    --danger-foreground: #000000;

    /* Form fields */
    --field-background: #3f3f46;
    --field-foreground: #ffffff;
    --field-placeholder: #797979;
    --field-border: #828287;

    /* Misc */
    --focus: #006FEE;
    --divider: #ffffff;
    --overlay-shadow: 0 4px 16px rgba(255,255,255,0.08);
    --surface-shadow: 0 2px 4px rgba(255,255,255,0.04);
    --radius: 0.75rem;
  }
}
